{% extends 'student_home.html' %}

{% block content %}

    <h1> {{ request.session.user_student }}'s Assigment</h1>
    <hr>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Assignment's Name</th>
          <th scope="col">Deadline</th>
          <th scope="col">Solution</th>
          <th scope="col">Points</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
      <tbody>
      {% for solution in solution %}
        <tr>
            <td>{{ solution.ass.Name }}</td>
            <td>{{ solution.ass.Deadline }}</td>
            <td>{{ solution.title }}</td>
            <td>{{ solution.points }}</td>
            <td>{{ solution.comments }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>


{% endblock %}