{% extends 'ui_base.html' %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Submit a Solution</h1>
        <table>
            <tbody>
                <tr>
                    <th><label for="id_title">Title:</label></th>
                    <td><input type="text" name="title" maxlength="100" required="" id="id_title"></td>
                </tr>
                <tr>
                    <th><label for="id_answer">Answer:</label></th>
                    <td><textarea name="answer" cols="40" rows="10" required="" id="id_answer"></textarea></td>
                </tr>
                 <tr>
                    <th><label for="id_files">Files:</label></th>
                    <td><input type="file" name="files" required="" id="id_files"></td>
                </tr>
            </tbody>
        </table>
    <input type="submit" VALUE="submit" class="btn btn-lg btn-success">
    </form>

{% endblock %}